@charset "utf-8";
/* CSS Document */

html,body 
{
	/*background-image:url(../images/body.png);
	background-repeat:repeat;
	font-family:arial,helvetica,tahoma;*/
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}

@font-face{font-family: Fruit; src: url(FrutigerLTStd-Cn.otf);}

.wrapper
{
	padding-top:0px;
	width:95%;
}

.header
{
	
	height:109px; 
	padding-top:0px;
	/*background-repeat:repeat-x;*/
	width:auto;
	/*background-image:url(../images/repeat.png);*/
	background-color:#663300;
	background-position:right;
	text-align: left;
	overflow:hidden;
}

.container 
{
	background-color:#FFFFFF;
	box-shadow: 0 0 1px rgba(0,0,0,0.8);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.8);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.8);
}

.mycontent
{
	padding:0px;
	margin:0px;
}

a
{
	color: #000;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}
q:before, q:after {
	content:'';
}
abbr, acronym {
	border:0;
}
h6 {
	font-size:.8em;
}
h5 {
	font-size:1em;
}
h4 {
	font-size:1.2em;	
}
h3 {
	font-size:1.4em;
}
h2 {
	font-size:1.6em;
}
h1 {
	font-size:1.8em;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	margin-bottom:.5em;
	margin-top:0px;
}
strong, b {
	font-weight:bold;
}
abbr, acronym {
	border-bottom:1px dotted #000;
	cursor:help;
}
em {
	font-style:italic;
}

.text2
{
	size:auto;
	width:10%;
}

.judul
{
	font-family: tahoma,Helvetica, sans-serif,arial;
	font-size:15px;
	text-align:justify;
	color:#333333;
	line-height:20px;
	font-weight:bold;
	border-bottom:dotted medium #CCCCCC ;
	width:100%;
}

p
{
	font-family: tahoma,Helvetica, sans-serif,arial;
	font-size:12px;
	text-align:justify;
	color:#666666;
	line-height:20px;
}

#textfooter
{
	font-family:tahoma,helvetica,arial;
	font-size:9px;
	color:#FFF;
	font-weight:normal;
	font-style:normal;
	padding-top:2px;
	padding-left:9px;
	
}

label
{
	
    display: block;
	float: left;
	clear:both;
    line-height: 18px;
    margin: 0 10px 0 0;
    padding: 3px 10px 0 0;
    position: relative;
    text-align: right;
    width: 40.8%;
}

<!--untuk menu-->

#menu_bg{
	height: 108px;
}

#menu 
{ 
	position: relative;
	width: 100%;
	height: 31px;
	background:url(../images/blue.png)  repeat-x 0 -3px transparent;
	font-family: tahoma,Helvetica, sans-serif,arial;
	font-weight:bold;
}

#menuleft
{
	float:left;
}
#menuright
{
	background-image:url(../images/header4_03.png);
	height:31px;
	background-position:right;
	background-repeat:no-repeat;
}

#menu ul
{ 
	margin: 0;
 	padding-left:9px;
 	list-style: none;
	font-size:11px;
	font-family: arial, sans-serif,helvetica,tahoma;	
}

#menu li
{ 
	position: relative;
   	float: left;
}

#menu ul li a
{ 
	display: block;
    text-decoration: none;
	color:#333;
	/*text-shadow: -2px 2px 3px #ff2d95;*/
    padding: 9px 9px 7px 19px;
}

#menu ul li a:hover
{ 
	background:#FFFFFF;
	color:#444;
	padding-top:10px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	padding: 9px 9px 7px 9px;
}

#menu ul ul 
{ 
	position:absolute;
    z-index:500;
    top:auto;
    display:none;
}

#menu ul li:hover ul 
{ 
	display: block;
}

#menu ul li:hover ul li a
{ 
	display: block;
    /*background: #6699cc;*/
	background-color:#CCCCCC;
    color: #ffffff;
    width: 130px;
    border-left: 1px solid #000000;
	text-align:left;
}

#menu ul li:hover ul li a:hover 
{ 
	background: #6699cc;
    color: #ffffff;
}
 
#menu ul ul ul 
{ 
	left:100%;top:0;
}

#menu ul ul ul li,
#menu ul ul ul ul li
{
	display:none;
}

#menu ul li:hover ul li:hover ul li,
#menu ul li:hover ul li:hover ul li:hover ul li
{ 
	display:block;
}

#menu ul li:hover ul li:hover ul li a
{ 
	display: block;
    /*background: #6699cc;*/
	background-color:#CCCCCC;
    color: #ffffff;
    width: 130px;
    border-left: 1px solid #000000;
	text-align:left;
}

#menu ul li:hover ul li:hover ul li a:hover 
{ 
	background: #6699cc;
    color: #ffffff;
}

.clear{
	clear: both;	
}

.line
{
	background-image:url(../images/line.jpg);
	background-repeat:repeat-x;
	height:4px;
	padding-bottom:2px;
}



/*untuk tabel*/
/*
.hovertable {
	font-family: tahoma,Helvetica, sans-serif,arial;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
	table-layout:auto;
	width:100%;
	content:open-quote;
}
.hovertable th {
	background-color:#003366;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
	color:#FFFFFF;
}
.hovertable tr {
	background-color:#FFFFFF;
}
.hovertable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
*/
<!-- ----------------------------------------------------- -->

#isi
{
	height:auto;
}

.footer
{
	height:15px;
	/*background-image:url(../images/repeat.png);*/
	background-color:#663300;
	background-repeat:repeat-x;
	background-position:right;
	text-align: center;
	font-family: tahoma,Helvetica, sans-serif,arial;
	float:left;
	width:100%;
}

<!-- untuk form inputan -->


span .required
{
	color: #FF0000;
}

form
{
	background-color: #FFCC66;
    /*border-color: #CAF2FF;
    border-style: solid;
    border-width: 1px 1px 1px;*/
	border:0 0 0 0;
    padding-bottom: 13px;
    padding-right: 13px;
	margin-top:7px;
	font-family: tahoma,Helvetica, sans-serif,arial;
}

table.rptRevenue {
	border-collapse:collapse;
	width:80%;
	margin:0 auto;
	font-size:10px;
	font-weight:bold;
}
table.rptRevenue td, table.rptRevenue th {
	padding:5px;
}
table.rptRevenue thead tr, table.rptRevenue tr.thead {
	background:#efefef;
	border:#d7d7d7 solid 1px;
	border-width:1px 0;
}
table.rptRevenue td {
	border-bottom:#d7d7d7 solid 1px;
	text-align:center;
}
table.rptRevenue tr.last td {
	border:none 0;
}

/*----------------------------------------------------
BOXS
*/

.clearfix:after, .actionbar:after, .option-row:after, .twocolumns:after, .threecolumns:after, #change-password ul:after, .chart-slide li:after, .chart-slide li a:after, #pageheading:after, #box-title:after, .sch-list li:after {
	content:'.';
	height:0;
	font:0/0;
	visibility:hidden;
	display:block;
	clear:both;
}

.onecolumns,.twocolumns, .threecolumns, .fourcolumns {
	margin:0 0 0 0;
}
.twocolumns .col {
	float:left;
	list-style:none;
	padding:0 1%;
}
.onecolumns .col {
	float:left;
	list-style:none;
	display:inline;
	padding:13px 0 0 13px;
}
.threecolumns .col {
	float:left;
	list-style:none;
	display:inline;
	padding:13px 0 0 13px;
}
.fourcolumns .col {
	width:23.5%;
	list-style:none;
	padding:0 1%;
}
.twocolumns .col.first, .threecolumns .col.first, .fourcolumns .col.first {
	padding:13px 0 0 13px;
}
.twocolumns .col.last, .threecolumns .col.last, .fourcolumns .col.last {
	padding:13px 0 0 13px;
}
.modulebox {
	margin:0 0 0 0;
	font-family: Arial, Helvetica, sans-serif!important;
}
.modulebox .module-header {
	padding:5px;
	margin:0;
	color:#222;
	/*background:#d5d5d5 url(../images/ft.jpg) repeat-x left top;*/
	background-color:#FF9933!important;
	text-align:center;
	font-size:11px;
	font-weight:bold;
	border:#CCCCCC solid 0px;
	-moz-border-radius:8px 8px 0 0;
	-webkit-border-radius:8px 8px 0 0;
	border-radius:8px 8px 0 0;
}
.modulebox .module-content {
	padding:10px;
	/*border:#a9a9a9 solid 1px;*/
	border:#CCCCCC solid 0px;
	/*border-width:0 1px 1px;*/
	width:310px;
	height:123px;
	text-align:center;
	background:#FFFFFF;
}

.modulebox .module-content2 {
	padding:10px;
	/*border:#a9a9a9 solid 1px;*/
	border:#CCCCCC solid 0px;
	border-width:0 1px 1px;
	width:999px;
	text-align:center;
	background:#FFFFFF;
}

.amount {
	text-align:center;
	color:brown;
	margin:.3em 0 .3em 0;
	font-size:30px;
}
.moduleglossy {
	border:#739cd2 solid 1px;
	border-width:1px 1px 0 1px;
	border-bottom:#a3c9fc solid 1px;
}
.moduleglossy .module-content {
	padding:7px;
	margin-bottom:7px;
}

/*
JQGRID
*/

.myAltRowClass { background-color: #000;}
.ui-jqgrid {
	margin-bottom:1em;
	font-family:Arial, Helvetica, sans-serif!important;	
}
.ui-jqgrid table td, .ui-jqgrid table th {
	color:#343434!important;
}

.ui-jqgrid-btable{font-size:11px}
.ui-tabs-nav{font-size:11px!important;}
.ui-pg-table{font-size:10px}
.ui-th-column{font-size:11px;font-weight:bold!important;color:#343434!important}
.ui-jqgrid-sortable{font-size:11px;font-weight:bold!important;color:#343434!important}
.ui-jqgrid {
	margin-bottom:1em;
	font-family:Arial, Helvetica, sans-serif!important;
	background:#f7f7f7!important;
}
.ui-jqgrid table td, .ui-jqgrid table th {
	color:#343434!important;
}
.ui-jqgrid table.ui-jqgrid-htable th {
	padding-top:3px;
	padding-bottom:0px;
}
.ui-jqgrid .ui-state-default, .ui-jqgrid .ui-jqgrid-pager td, .ui-jqgrid-btable tr.alt td.jqgrid-rownum:first-child {
	background:#d5d5d5 url(../images/etc/th-bg.jpg) repeat-x left top!important;
}
.ui-jqgrid td {
	background:#fff!important;
}
.ui-jqgrid .ui-jqgrid-pager td {
	padding:0!important;
}
.ui-jqgrid-btable tr.alt td {
	background:#efefef!important;
}
.ui-jqgrid .ui-state-hover td, .ui-jqgrid tr.alt.ui-state-hover td {
	background:#dfdfdf!important;
}
.ui-jqgrid .ui-jqgrid-titlebar {
	background:#dfdfdf;
}


/*word wrap column*/
.ui-jqgrid tr.jqgrow td {
    white-space: normal !important;
    height:auto;
    vertical-align:text-top;
    padding-top:2px;
}

.ui-layout-pane { /* all 'panes' */ 
	background: #fff; 
}

/*bar nav*/
.ui-widget-content{border:1px solid #A6C9E2!important;color:#222222!important;background: #FFFFCC!important;}

.ui-layout-resizer { /* all 'resizer-bars' */ 
	background: #FFFFCC; 
}

#ui-datepicker-div{
	background: #CCC!important;
}
.ui-tabs{padding:0px!important;}
.ui-tabs-nav{padding:0px!important;}
.ui-helper-clearfix{border:none!important;background:none!important}
.ui-tabs-active{padding:0 0 0 0!important;border:1px solid #A6C9E2!important;border-bottom:#FFCC66 solid 1px!important} /*remove underline on activve tab*/
.ui-tabs-active .ui-tabs-anchor{color:#B22222!important;padding-left:15px!important;padding-right:15px!important;background:#FFCC66;border-color:#CCCCCC!important;}
.jqgtabs {border:none!important;}
.ui-tabs-panel{padding:15px!important;background-color:#FFCC66!important}

.ui-tabs-close {display: none;position: absolute;top: 5px;right: -2px;z-index: 800;width: 16px;height: 14px;font-style: normal;cursor: pointer;}
.ui-datepicker {z-index:1200;}

.cell-wrapperleaf{cursor:pointer!important}

.ui-layout-pane-west { /* all 'panes' */ 
	/*background: #DFE8F6 F2F2F3;  */
	background: #FFF;
}
.myAltRowClass { background: #000!important; background-image: none!important;  }

.ui-layout-west .ui-widget-content{
   border: none !important;
}

.ui-layout-west .ui-jqgrid table td, .ui-jqgrid table th {
	border:none!important;
}

#west-grid{padding-top:5px;background-color:#FFF}

.paddinggrid {padding:3px 0 0 13px;}
.gridtitle{
	margin:21px 13px 0 13px;
	padding:3px 13px 3px 13px;
	font-family:helvetica,tahoma,arial;
	font-size:.63em;
	background:#003366 url(../images/ft.jpg) repeat-x left top!important;
	color:#222;
	font-weight:bold;
	}
	
.gridtitle span{
	font-size:.84em;
	padding-left:17px;
	margin:0 0 0 0;
	display:block;
	padding-top:2px;
	height:14px;
	float:right;
	background-position:left;
	background-repeat:no-repeat;
	color:black;
	text-decoration:underline;
	}
.gridtitle span:hover{
	color:yellow;
	cursor:pointer;
	color:blue;
	/*background-color:#003377;*/
	}

	
.ui-datepicker {z-index:1200;}
#ui-datepicker-div { font-size: 12px; }

/*      END JQGRID */
.rumah{background:url(../images/etc/house.png) no-repeat scroll left center transparent}
.atur{background:url(../images/etc/cog.png) no-repeat scroll left center transparent}
.keluar{background:url(../images/etc/logout.png) no-repeat scroll left center transparent}
.tambahdata{background:url(../images/etc/add.png) no-repeat scroll left center transparent}
.kembali{background:url(../images/etc/arrow_left.gif) no-repeat scroll left center transparent}
.masuk{background:url(../images/etc/bullet-go.png) no-repeat scroll left center transparent}
.signup{background:url(../images/etc/user_add.png) no-repeat scroll left center transparent}

.icon-detail, .icon-edit, .icon-delete, .icon-upload, .icon-tick , .icon-cancel {
	padding-left:20px;
	vertical-align:middle;
	height:15px;
	background:url(../images/etc/icon-tick.png) no-repeat left top;
	margin:0 5px;
	font-weight:normal;
	cursor:pointer;
	display:inline-block;
}
.icon-upload {
	background:url(../images/etc/icon-upload.png) no-repeat left top;
}
.icon-banned {
	background:url(../images/etc/icon-delete.png) no-repeat left top;
}
.icon-detail {
	background:url(../images/etc/icon-page-go.png)no-repeat left top;
}
.icon-edit {
	background:url(../images/etc/icon-pencil-go.png) no-repeat left top;
}
.icon-delete {
	background:url(../images/etc/icon-delete.png) no-repeat left top;
}
.icon-tick {
	background:url(../images/etc/icon-tick.png) no-repeat left top;
}
.icon-cancel {
	background:url(../images/etc/icon-cancel.png) no-repeat left top;
}


/*------------------------------------------------------------------FORM-----------------------------------------*//*background: #DFE8F6 F2F2F3;  */
fieldset {border: 1px solid #ccc;font-size:12px;text-align:left;padding:1px;margin:0px;font-family:arial,helvetica,tahoma;background:#DFE8F6}
fieldset span	{display: block; margin: 1px; overflow: hidden; border-bottom: 1px solid rgb(222, 232, 246);}
fieldset span label {width: 195px;background:#F2F2F3;padding:3px;margin-right:5px; border-bottom: 2px solid #fff;text-align:left;color:#333;font-size:0.9em;}
fieldset span input {padding: 3px;margin-right: 4px; border:1px solid #ccc;background:#fff;font-size:1em;}
fieldset span input:disabled {background: #eee;}
fieldset span input[type=text] {width: 195px;}
fieldset span textarea {padding: 3px;margin-right: 4px; border:1px solid #ccc;background:#fff;font-size:1em;}
fieldset span select {padding: 1px;margin-right: 4px; border:1px solid #ccc;background:#fff;font-size:1em;}
fieldset span input[type=submit] {background:#666;color:#FFF;cursor:pointer;padding:5px;font-size:.81em;}

.subformtitle {padding: 5px;font-size:.77em;color:#15428B;font-weight:bold;background-color:#FFF;font-family:fruit,arial,helvetica,tahoma;}
.tabsubformtitle {padding: 5px;text-align:center;font-size:.91em;color:#000;font-weight:normal;background-color:#FFF;font-family:fruit,arial,helvetica,tahoma;}
.formtitle {padding: 0 0 0 0;font-size:1.25em;color:#000;font-weight:normal;background-color:#FFCC66;font-family:fruit,arial,helvetica,tahoma;}

.dari {width:77px!important;}
.sampai {width:77px!important;}

.backbutton span{
	font-size:.65em;
	padding-left:15px;
	padding-right:2px;
	margin:0 0 0 0;
	display:block;
	padding-top:2px;
	float:right;
	background-position:left;
	background-repeat:no-repeat;
	color:blue;
	}
.backbutton span:hover{
	font-size:.69em;
	color:#555;
	cursor:pointer;
	}
/*
			
				label {float:left;width: 120px;background:rgb(222, 232, 246);padding:5px;margin-right:5px; border-bottom: 2px solid #fff;}
				.white	{background:#fff}
				span	{float: right; width: 50%;padding:0;margin:0;border:none;}
				.third	{width: 40%;}
				pre	{display:block;font:1em Arial;padding:3px;}
				input[type=text], input[type=password], textarea {padding: 2px;margin-right: 4px; border:1px solid #ccc;background:#fff;font-size:1em;}
				input[type=text][disabled], input[type=password] [disabled] {background: #eee;}
				select {padding: 1px;margin-right: 4px; border:1px solid #ccc;background:#fff;font-size:1em;}
			}
			span:first-child {border-top: 1px solid rgb(222, 232, 246);padding-top: 2px;}
			input[type=submit], input[type=button] {border: 1px solid rgb(26, 53, 110); -moz-box-shadow: 0 1px 1px rgb(217, 217, 217); background:rgb(98, 122, 172) @bar; color:#fff;font-size:.9em;padding:4px 6px;cursor:pointer;}
		} 
*/